<ng-template #usingngxs>
  <markdown ngPreserveWhitespaces clipboard> --- </markdown>
  <markdown
    mermaid
    ngPreserveWhitespaces
    clipboard
    fxLayoutAlign="center center"
  >
    <pre class="mermaid">
    flowchart TD
      id1([1. Ngxs setup]) --> id2([2. Create HTML Task component ])
      id2([2. Create HTML Task component ]) --> id3([3. Define Task Component Array and States ])
      id3([3. Define Task Component Array and States ]) --> id4([4. Display logic for Task States from Store])
      id4([4. Display logic for Task States from Store]) --> id5([5. Load All Task States from Store])
      id5([5. Load All Task States from Store]) --> id6([6. Logic for Error State and normal state])
      id6([6. Logic for Error State and normal state]) --> id7([7. Update Error State from Store])
      id7([7. Update Error State from Store]) --> id8([8. Load the github code to stackblitz also Load the static-pages])
      
  </pre
    >
  </markdown>
  <markdown ngPreserveWhitespaces clipboard> --- ## NgXs __works__! </markdown>
  <div fxLayoutAlign="center center">
    <markdown
      mermaid
      [src]="'../assets/angularngxs.md'"
      ngPreserveWhitespaces
      clipboard
    ></markdown>
  </div>
  <iframe
    src="https://stackblitz.com/edit/node-guc5va?embed=1&file=README.md&hideNavigation=1&view=editor"
    style="width: 50em; min-height: 30em; margin-top: 10vh;"
  ></iframe>

  <iframe
    src="https://gmanojisaac.github.io/AngularGithub/beforelogin"
    style="width: 50em; min-height: 30em; margin-top: 10vh;"
  ></iframe>
</ng-template>
<ng-container [ngTemplateOutlet]="tems" [ngTemplateOutletContext]="myContext">
</ng-container>
