<mat-progress-bar mode="buffer"></mat-progress-bar>
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10vw">
  <mat-slider fxFlex="10vw" min="1" max="100" step="1" value="50"></mat-slider>
  <mat-slider fxFlex="10vw" min="1" max="100" step="1" value="50"></mat-slider>
</div>
<mat-progress-bar mode="buffer"></mat-progress-bar>
<h1>TaskMarked</h1>
<app-task-marked></app-task-marked>


<h1>TaskOhers</h1>
<markdown class="variable-binding" [data]="markdowncode"></markdown>
<div class="markdown">
  <markdown mermaid [src]="'../assets/myfile.md'"></markdown>
</div>
<pre class="mermaid">
  sequenceDiagram
    Alice->>John: Hello John, how are you?
    John-->>Alice: Great!
</pre>